@layer base {
  @media (scripting: enabled) {
    [x-cloak] {
      display: none;
    }
  }

  html {
    @apply motion-safe:scroll-smooth;
  }

  :where([id]) {
    scroll-margin-top: calc(var(--spacing-header) + var(--spacing) * 6);
  }

  [data-theme-switching],
  [data-theme-switching] *,
  [data-theme-switching] *::before,
  [data-theme-switching] *::after {
    transition: none !important;
  }

  body {
    @apply bg-background px-2 text-foreground;
  }

  ::selection {
    @apply bg-primary text-white;
  }
}
